<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appadmin"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAdmin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".pages.topping.ToppingDetail"
            android:exported="false" />
        <activity
            android:name=".pages.topping.EditTopping"
            android:exported="false" />
        <activity
            android:name=".pages.topping.AddTopping"
            android:exported="false" />
        <activity
            android:name=".pages.topping.Toppings"
            android:exported="false" />
        <activity
            android:name=".pages.promotion.PromotionDetail"
            android:exported="false" />
        <activity
            android:name=".pages.promotion.AddPromotion"
            android:exported="false" />
        <activity
            android:name=".pages.category.AddCategory"
            android:exported="false" />
        <activity
            android:name=".pages.product.ProductDetail"
            android:exported="false" />
        <activity
            android:name=".pages.product.AddProduct"
            android:exported="false" />
        <activity
            android:name=".pages.user.UserDetail"
            android:exported="false" />
        <activity
            android:name=".pages.user.AddUser"
            android:exported="false" />
        <activity
            android:name=".pages.rating.EditRating"
            android:exported="false" />
        <activity
            android:name=".pages.promotion.EditPromotion"
            android:exported="false" />
        <activity
            android:name=".pages.order.EditOrder"
            android:exported="false" />
        <activity
            android:name=".pages.category.EditCategory"
            android:exported="false" />
        <activity
            android:name=".pages.rating.Ratings"
            android:exported="false" />
        <activity
            android:name=".pages.promotion.Promotions"
            android:exported="false" />
        <activity
            android:name=".pages.category.Categories"
            android:exported="false" />
        <activity
            android:name=".pages.order.Orders"
            android:exported="false" />
        <activity
            android:name=".pages.user.EditUser"
            android:exported="false" />
        <activity
            android:name=".pages.user.Users"
            android:exported="false" />
        <activity
            android:name=".pages.product.EditProduct"
            android:exported="false" />
        <activity
            android:name=".pages.product.Products"
            android:exported="false" />
        <activity
            android:name=".pages.dashboard.Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>